html,body {
    height:100%;

}
#app {
    height:100%;
    position: relative;
    min-width: 1280px;
}
html,body,ul,ol,li,p,h1,h2,h3,h4,h5 {
    padding:0;
    margin:0;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-family:"微软雅黑"
}
ul,ol,li {
    list-style:none;
}
.f-l {
    float:left;
}
.f-r {
    float:right;
}
.clear:after {
    content:'';
    display:block;
    width:0;
    clear:both;
}
.hidden-view {
    display:block!important;
    right:100%!important;
}

.ui-com-user {
    height:60px;
    line-height:60px;
    color:#fff;
    font-size:16px;
    position: relative;
}
.ui-com-user > span:hover {
    opacity: 1;
}
.ui-com-tag {
    font-weight:normal;
    color:red;
    padding:0 5px;
}
.ui-com-user > span {
    display:inline-block;
    line-height:60px;
    cursor:pointer;
}
.ui-com-user > span:first-of-type {
    padding-right: 2px;
}

.ui-com-pl {
    padding-left:30px;
}
.ui-com-pr {
    padding-right:15px;
}

.ui-com-mb {
    margin-bottom:15px;
}

.ui-com-mt {
    margin-top:10px;
}
.ui-com-center {
    text-align:center;
}
.ui-com-icon-succ {
    font-size:48px;
    color:#409EFF;
}

.ui-com-icon-time {
    font-size:48px;
    color:#67c23a;
}
.ui-com-hintcss {
    padding-top:20px;
    padding-bottom:35px;
}
.header-wrap {
    padding-bottom:15px;
    border-bottom:1px solid #fff;
}
.handle-wrap {
    padding-top:15px;
    padding-bottom:15px;
}
.ui-login-hint {   
    width:100%;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #d8dce5;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    border-radius: 4px;
    height:30px;
    line-height:30px;
    margin-bottom:10px;
    text-align:left;
    text-indent:10px;
    font-size:12px;
    background-color:#fa5555;
    color:#fff;

}
.ui-com-opacity {
    opacity:0.5;
    filter:alpha(opacity=50);
}

.ui-com-handle > span {
    position:relative;
    display:inline-block;
    cursor:pointer;
    /* padding:0 20px; */
    padding-right:20px;
    font-size:14px;
    height:20px;
    line-height:20px;
    color:rgb(64, 158, 255);
}

.ui-com-handle > span:first-child:after {
    content:"";
    display:block;
    width:1px;
    height:14px;
    position:absolute;
    top:3px;
    right:-2px;
    background-color:#ccc;
}
.ui-com-handle > span:last-child {
    padding-left:20px;
}
.ui-com-handle > span:last-child:after {
    display:none;
}
.el-table {
    font-size: 14px;
    color: #80869d;
}
.el-table thead {
    color: #373e4f;
    font-size: 14px;
}

.ui-com-len .el-input, .ui-com-len .el-select .el-input {
    width:350px;
}
.ui-com-normal .el-input {
    width:220px;
}
.data-wrap {
    position:relative;
}
.total-text {
    position:absolute;
    right:0;
    bottom:0;
    line-height:28px;
    color:#5a5e66;
    font-size:14px;
}

.ui-com-small .el-input {
    width:120px;
}

.header-wrap .ui-com-div {
    width: 350px;
    padding-right: 15px;
}

.header-wrap .ui-com-time-div {
    width: 500px;
    margin-left: 20px;
}

.ui-com-div .ui-sub-title-m {
    display: inline-block;
    width: 106px;
}

.ui-com-time-div .ui-sub-title-m {
    display: inline-block;
    width: 96px;
}

.ui-com-div .ui-sub-title {
    display: inline-block;
    width: 80px;
}

.over-flow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}
.clear:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}
.clearfix {
    content: '';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}
/* 错误图片提示 */
.bgErro{
    width: 188px;
    height: 194px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -97px;
    margin-left: -94px;
  }
    table td,
    table th {
        font-size: 14px;
        height: 50px;
        border-right: none;
    }
    .ivu-select-item{
        font-size:14px!important;
    }

.ivu-tooltip-inner {
    max-width: 500px !important;
    white-space: normal !important;
    word-break: break-all;
}
.ivu-drawer-mask {
    background-color: transparent !important;
}
.ivu-select-item{
    font-size: 14px !important
}

  
  
  